aws_profile   = "your_aws_profile_name"
aws_region    = "us-east-1"
key_name      = "comfyui"

# "spot" for persistent Spot instance pricing or "on-demand" for standard billing
# purchase_option = "spot"

# GPU instance type, adjust based on your quota (e.g. g4dn.xlarge, g6.4xlarge, etc)
instance_type = "g4dn.xlarge"

# Availability zone for volumes (must match your region)
availability_zone = "us-east-1a"